globus-cli
globus-timer-cli==0.2.9
scipy
python-dotenv
element-calcium-imaging @ git+https://github.com/datajoint/element-calcium-imaging.git
element-array-ephys==0.1.3
element-interface @ git+https://github.com/datajoint/element-interface.git
scanreader @ git+https://github.com/atlab/scanreader.git
pandas
numpy
astropy
jupyterlab
bitstring
suite2p @ git+https://github.com/MouseLand/suite2p.git
cellpose
scp
paramiko
psutil
deeplabcut