fair-research-login
datajoint
six
scipy
scikit-image>=0.22
python-dotenv
datajoint
element-calcium-imaging @ git+https://github.com/BrainCOGS/element-calcium-imaging.git
element-array-ephys @ git+https://github.com/BrainCOGS/element-array-ephys.git
element-interface @ git+https://github.com/datajoint/element-interface.git
#ecephys_spike_sorting @ git+https://github.com/AllenInstitute/ecephys_spike_sorting.git
ecephys_spike_sorting @ git+https://github.com/jenniferColonell/ecephys_spike_sorting.git
scanreader @ git+https://github.com/atlab/scanreader.git
pandas
numpy<2.0
astropy
jupyterlab
bitstring
suite2p
cellpose
scp
paramiko
psutil
tifffile
tables
# matlab
# matlabengineforpython
