globus-cli
scipy
python-dotenv
element-calcium-imaging @ git+https://github.com/datajoint/element-calcium-imaging.git
element-array-ephys
scanreader @ git+https://github.com/atlab/scanreader.git
pandas
numpy
astropy
jupyterlab
bitstring
element-interface @ git+https://github.com/datajoint/element-interface.git
suite2p @ git+https://github.com/MouseLand/suite2p.git
cellpose